*{
    padding: 0px;
    margin: 0px;
}


#header{
    width: 100vw;
    height: 80px;
    background: black;
    text-align: center;
}

#header p{
    font-size: 30px;
    color: white;
    padding-top: 20px;
}


#main-content{
    font-weight: 700;
    font-size: 60px;
    text-align: center;
    margin-top: 30px;
}

input{
    margin-top: 20px;
}


#reciever-link-content{
    font-size: 20px;
    margin-top: 20px;
    text-align: center;
}

#offer-answer-content{
    text-align: center;
    margin-top: 20px;
}